################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/The VALUE/FileContentIndex/2710789d-185b-4efa-a554-1a5450882679.vsidx
/.vs/The VALUE/FileContentIndex/3ff7ba45-114c-473b-9e5f-5f7967791704.vsidx
/.vs/The VALUE/FileContentIndex/55609d86-7f0d-40fd-b88e-4e5940d0dc9c.vsidx
