################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/The VALUE/FileContentIndex/2710789d-185b-4efa-a554-1a5450882679.vsidx
/.vs/The VALUE/FileContentIndex/3ff7ba45-114c-473b-9e5f-5f7967791704.vsidx
/.vs/The VALUE/FileContentIndex/55609d86-7f0d-40fd-b88e-4e5940d0dc9c.vsidx
/.vs/The VALUE/FileContentIndex/76c155a6-0765-4a2e-987e-41afea72e8d2.vsidx
/.vs/The VALUE/FileContentIndex/96d2ef53-5dc0-4b6b-b11d-83e34896f683.vsidx
/.vs/The VALUE/FileContentIndex/1114c1b5-ce58-4f6e-9f39-f1040aad5d00.vsidx
/.vs/The VALUE/FileContentIndex/10924a8e-2378-41f3-a369-a94fcd3a1265.vsidx
/.vs/The VALUE/FileContentIndex/0c432e7a-08b1-42a1-84eb-54ecc58bf520.vsidx
