################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/The VALUE/FileContentIndex/2710789d-185b-4efa-a554-1a5450882679.vsidx
